* {
  box-sizing: border-box;
}

.maxWid {}

/* !!! HEADER PART !!! */
header {
  width: 100%;
  box-shadow: 0px 4px 4px #00000022;
}

.header_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 130px;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 2%;
  width: 1440px;
  margin: auto;
}

.header_logo {
  width: 200px;
}

.header_menu {
  width: 680px;
  height: 150px;
}

.header_menu nav ul li a {
  position: relative;
}

.header_menu nav ul li a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #007CEF;
  bottom: -17px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.header_menu nav ul li:hover a::before {
  width: 100%;
}

.header_menu .custom_menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: relative;
  margin: 30px 0;
}

.header_menu .custom_menu input {
  width: 40%;
  height: 40px;
  position: absolute;
  right: 15%;
  border: 1px solid #868686;
  background-color: transparent;
}

.header_menu .custom_menu img {
  cursor: pointer;
}

#search_icon {
  position: absolute;
  right: 17%;
}

#profile_icon {
  width: 40px;
  margin-right: 50px;
}


.header_menu nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_menu nav ul li {
  width: 100%;
  text-align: center;
}

.header_menu nav ul li a {
  display: block;
  width: 100%;
  color: #3b3b3b;
  font-size: 20px;
  font-weight: bold;
}

/* !!! HEADER PART !!! */
/* !!! MAIN PART !!! */
main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main_bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 564px;
  z-index: -1;
  background-color: #97E4FF;
  display: block;
  animation: bgcolor 10s infinite;
  animation-delay: 2.5s;
}

@keyframes bgcolor {
  0% {
    background-color: #97E4FF;
  }

  25% {
    background-color: #adffc6;
  }

  50% {
    background-color: #ffeba9;
  }

  75% {
    background-color: #ffbcbc;
  }

  100% {
    background-color: #97E4FF;
  }
}

.main_slide_wrap {
  margin-top: 50px;
  height: 600px;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}

.textSlide-wrap {
  width: 370px;
}

.textSlide .swiper-wrapper .swiper-slide span {
  background-color: #3b3b3b;
  color: #fff;
  display: block;
  width: 35%;
  text-align: center;
  padding: 5px;
  border-radius: 25px 25px 25px 0;
}

.textSlide .swiper-wrapper .swiper-slide h3 {
  font-size: 48px;
  font-weight: 200;
  color: #3b3b3b;
  margin: 20px 0;
}

.textSlide .swiper-wrapper .swiper-slide a {
  text-decoration: underline;
  font-size: 20px;
}

.imgSlide {
  width: 1100px;
  height: 600px;
  display: flex;
  box-sizing: border-box;
  padding-right: 0px;
}

.imgSlide .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.imgSlide .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgSlide-wrap {
  height: 600px;
}

.imgSlide-wrap .imgSlide {
  height: 595px;
}

.imgSlide .swiper-wrapper .swiper-slide {
  width: 860px;
  height: 580px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #0000003b;
}

.responsiv_bg_main {
  display: none;
}

/* Button Area ! */
.swiper-button-prev {}

.main_slideBtn {
  position: absolute;
  left: 19%;
  bottom: 5%;
  width: 138px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

/* !!! MAIN PART !!! */
/* !!! SECTION 01 PART !!! */
.section01 {
  height: 1170px;
  background-color: #FFE897;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}

.sec01_wrap {
  justify-content: center;
}

.sec01_contents_inner {
  margin: auto;
  width: 1440px;
}

.sec01_contents_inner h2 {
  margin-top: 5%;
  text-align: center;
  font-size: 55px;
  color: #8F5624;
  font-weight: 400;
}

.sec01_contents_inner h2>strong {
  font-weight: 900;
}

.sec01_contents_inner span {
  display: block;
  background-color: #333;
  width: 107px;
  height: 38px;
  border-radius: 0px 0px 15px 15px;
  font-size: 20px;
  line-height: 38px;
  color: white;
  text-align: center;
}

/* 이미지 슬라이드 영역입니다.. */
.sec01Slide .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 30px 0;
}

.sec01Slide .swiper-wrapper article.swiper-slide {
  width: 100%;
  height: 516px;
  border-radius: 18px;
  box-shadow: 6px 6px 6px #0000003b;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}

.sec01Slide .swiper-wrapper article.swiper-slide div {
  position: absolute;
  bottom: -80px;
  left: 0px;
  padding: 15px 20px;
  color: #fff;
  background-image: linear-gradient(#ffffff00, #000000);
  width: 100%;
  transition: 0.4s;
}

.sec01Slide .swiper-wrapper article.swiper-slide div strong {
  font-size: 22px;
  display: block;
  margin-bottom: 1.1rem;
}

.sec01Slide .swiper-wrapper article.swiper-slide div p {
  font-size: 16px;
  font-weight: 100;
}

.sec01Slide .swiper-wrapper .swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec01Slide .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}

.sec01Slide .swiper-wrapper .swiper-slide img:hover {
  transform: scale(1.05);
}

.sec01Slide .swiper-wrapper article.swiper-slide:hover {
  transform: translateY(-30px);
}

.sec01Slide .swiper-wrapper article.swiper-slide:hover div {
  transform: translateY(-80px);
}

.sec01_bg_elem01 {
  position: absolute;
  background-image: url(../img/map_location_bg.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 9%;
  width: 563px;
  height: 278px;
  z-index: 0;
}

.sec01_bg_elem02 {
  position: absolute;
  background-image: url(../img/cloud_bg.svg);
  background-repeat: no-repeat;
  right: 0%;
  top: 6%;
  width: 635px;
  height: 156px;
}

.sec01_bg_elem03 {
  position: absolute;
  background-image: url(../img/vilage_bg.svg);
  background-repeat: no-repeat;
  right: 9%;
  bottom: -3px;
  width: 576px;
  height: 263px;
}

.sec01_wrap .sec01_slideBtn {
  height: 100px;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev-sec01 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 4px #0000003b;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.swiper-button-prev-sec01:hover {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff8e8;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 4px #0000003b;
}

.swiper-button-prev-sec01:hover svg>path {
  fill: #d89e00;
}

.swiper-button-prev-sec01>svg {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.swiper-button-prev-sec01>svg>path {
  position: absolute;
  transition: 0.3s;
  transform: scale(0.7);
}

.sec01_BtnAll {
  margin: 0 3%;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
  font-weight: 600;
  color: #DEC054;
  box-shadow: 4px 4px 4px #0000003b;
}

.swiper-button-next-sec01 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 4px #0000003b;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.swiper-button-next-sec01:hover {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff8e8;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 4px #0000003b;
}

.swiper-button-next-sec01>svg {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.swiper-button-next-sec01>svg>path {
  position: absolute;
  transition: 0.3s;
  transform: scale(0.7);
}

.swiper-button-next-sec01:hover svg>path {
  fill: #d89e00;
}

.sec01Slide-text .swiper-wrapper .swiper-slide {
  display: none;
}

.sec01_allview {
  display: none;
}

/* !!! SECTION 01 PART !!! */
/* !!! SECTION 02 PART !!! */
.sec02_wrap {
  margin: 70px auto;
  width: 1040px;
  height: 590px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sec02_imgBoard {
  width: 500px;
  height: 350px;
  border-radius: 25px;
  margin-right: 42px;
  overflow: hidden;
}

.sec02_imgBoard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.sec02_imgBoard img:hover {
  transform: scale(1.05);
}

.sec02_textBoard {
  width: 500px;
  height: 350px;
  border: 3px solid #FCB52D;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 2%;
  position: relative;
}

.sec02_textBoard h3 {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin-bottom: 4%;
}

.sec02_textBoard h3 a {
  font-size: 40px;
  padding: 0 10px;
  position: absolute;
  top: 3%;
  right: 3%;
  transition: 0.2s;
}

.sec02_textBoard h3 a:hover {
  color: #b37a10;
}

.sec02_textBoard ul {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sec02_textBoard ul li a {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  position: relative;
}

.sec02_textBoard ul li a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #b37a10;
  top: 110%;
  left: 0;
  transition: 0.4s ease-in;
}

.sec02_textBoard ul li:hover a {
  color: #b37a10;
  transform: translateY(-2px);
}

.sec02_textBoard ul li:hover a::before {
  width: 100%;
}

/* !!! SECTION 02 PART !!! */
/* !!! SECTION 03 PART !!! */
.section03 {
  position: relative;
}

.sec03_bg_left {
  width: 344px;
  height: 645px;
  position: absolute;
  left: 2%;
  top: 9%;
  background-image: url(../img/sec03_left_bg-elements.svg);
}

.sec03_bg_right {
  width: 340px;
  height: 673px;
  position: absolute;
  right: 2%;
  top: 6%;
  background-image: url(../img/sec03_right_bg-elements.svg);
}

.sec03_bg_respon {
  display: none;
}

.sec03_bg {
  width: 100%;
  height: 755px;
  position: absolute;
  top: 14%;
  background-color: #ffd6cb;
  z-index: -1;
}

.sec03_wrap {
  width: 1040px;
  height: 890px;
  margin: auto;
}

.sec03_wrap h2 {
  font-size: 40px;
  color: #df643d;
  font-weight: 700;
  margin-bottom: 25px;
}

.sec03_wrap ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}

.sec03_wrap ul li {
  width: 330px;
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.sec03_wrap ul li:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 4px #0000002f;
}

.sec03_wrap ul li:hover article {
  bottom: 0;
}

.sec03_wrap ul li article {
  position: absolute;
  bottom: -130px;
  left: 0;
  background-image: linear-gradient(rgba(99, 99, 99, 0), #000);
  height: 130px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.4s;
}

.sec03_wrap ul li article span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.sec03_wrap ul li article p {
  font-size: 16px;
  font-weight: light;
}

.sec03_wrap ul li article a {
  color: #fff;
  float: right;
  margin-top: 7px;
}

.sec03_wrap ul li:nth-child(1) {
  background-image: url(../img/음식7.jpg);
}

.sec03_wrap ul li:nth-child(2) {
  background-image: url(../img/음식3.jpg);
}

.sec03_wrap ul li:nth-child(3) {
  background-image: url(../img/음식8.jpg);
}

.sec03_wrap ul li:nth-child(4) {
  background-image: url(../img/음식1.jpg);
}

.sec03_wrap ul li:nth-child(5) {
  background-image: url(../img/음식5.jpg);
}

.sec03_wrap ul li:nth-child(6) {
  background-image: url(../img/음식4.jpg);
}

.sec03_wrap .sec03_viewMore {
  display: block;
  font-size: 26px;
  color: #b1401d;
  text-decoration: underline;
  text-align: right;
  float: right;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.3s;
}

.sec03_wrap .sec03_viewMore:hover {
  color: #f5734c;
}

/* !!! SECTION 03 PART !!! */
/* !!! SECTION 04 PART !!! */
.section04 {
  width: 100%;
  height: 800px;
}

.sec04_wrap {
  padding-top: 5%;
  margin: auto;
  width: 1040px;
}

.sec04_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.sec04_title h2 {
  font-size: 40px;
}

.sec04_title a {
  font-size: 26px;
  font-weight: 600;
  transition: 0.2s;
}

.sec04_title a:hover {
  color: #555bf4;
}

.sec04_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec04_wrap article {
  width: 315px;
}

.sec04_wrap article .img {
  width: 315px;
  height: 315px;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.sec04_wrap article .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img_hover {
  background-color: #00000060;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.img_hover:hover {
  opacity: 100;
}

.img_hover p {
  text-align: center;
  font-size: 40px;
  align-items: center;
  height: 315px;
  line-height: 315px;
  color: #fff;
}

#picture {
  width: 15%;
  height: 15%;
}

.sec04_wrap article a {
  float: right;
  color: #555bf4;
}

/* !!! SECTION 04 PART !!! */
/* !!! FOOTER PART !!! */
footer {
  margin-top: 400px;
  position: relative;
  width: 100%;
}

.footer_bg_il {
  background-image: url(../img/Footer_bg_il.svg);
  background-position: left 10;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 525px;
  top: -495px;
  left: 0;
}

.footer_bg {
  background-color: #70695f;
}

.footer_warp {
  margin: auto;
  padding: 5% 0;
  width: 1440px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer_text p {
  font-weight: light;
  font-size: 14px;
  width: 660px;
}

.footer_text {}

.footer_text ul {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_text ul li a {
  color: #fff;
  font-size: 14px;
}

.footer_text ul li a:hover {
  text-decoration: underline;
}

.footer_logo {
  margin: 30px 0;
  display: block;
  background-image: url(../img/Daejeonyeohang_logo_white.svg);
  background-size: cover;
  width: 100px;
  height: 38px;
}

.footer_sns {
  width: 40%;
  text-align: center;
}

.footer_sns h3 {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 30px;
  animation: textani 2s infinite ease-in-out;
}

@keyframes textani {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.footer_sns ul {
  display: flex;
  justify-content: space-between;
}

.footer_sns ul li img {
  width: 50px;
  margin-bottom: 10px;
}

.footer_sns ul li img:hover {
  animation: ani 1s infinite ease-in-out;
}

@keyframes ani {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1)
  }
}

.footer_sns ul li span {
  display: block;
  margin-bottom: 30px;
}

/* !!! FOOTER PART !!! */